* {
    box-sizing: border-box;

}

body {
    text-align: center;

}

.search-bar{
    margin: 20px 0 20px 0;

}

#search{
    width: 40%;
    height: 40px;
    border: 1.5px solid;
    border-color: Grey;
    border-radius: 5px;

}


.photos {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 20px
    


}