* {
    box-sizing: border-box;

}

body {
    text-align: center;

}

.search-bar{
    margin: 20px 0 20px 0;

}

#search{
    width: 40%;
    height: 40px;
    border: 1.5px solid;
    border-color: Grey;
    border-radius: 5px;

}

input{
   padding-left: 10px;

}


.gallery {
    max-width: 920px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-row-gap: 25px;
    margin: 40px auto; 
}

